<<<<<<< HEAD
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.cursor-video:hover {
  cursor: url('https://cdn-icons-png.flaticon.com/128/2875/2875433.png') 0 0, pointer;
}


.cursor-seo:hover {
  cursor: url('/mouse/seo.svg') 0 0, auto;
}

.cursor-pen:hover {
  cursor: url('/mouse/pen.svg') 0 0, auto;
}

.cursor-dev:hover {
  cursor: url('/mouse/dev.svg') 0 0, auto;
}

.cursor-social:hover {
  cursor: url('/mouse/insta.svg') 0 0, auto;
}

.cursor-mail:hover {
  cursor: url('/mouse/mail.svg') 0 0, auto;
}

.cursor-person:hover {
  cursor: url('/mouse/person.svg') 0 0, auto;
}

.cursor-brand:hover {
  cursor: url('/mouse/brand.svg') 0 0, auto;
}

.cursor-graph:hover {
  cursor: url('/mouse/graph.svg') 0 0, auto;
}



=======
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.cursor-video:hover {
  cursor: url('https://cdn-icons-png.flaticon.com/128/2875/2875433.png') 0 0, pointer;
}


.cursor-seo:hover {
  cursor: url('/mouse/seo.svg') 0 0, auto;
}

.cursor-pen:hover {
  cursor: url('/mouse/pen.svg') 0 0, auto;
}

.cursor-dev:hover {
  cursor: url('/mouse/dev.svg') 0 0, auto;
}

.cursor-social:hover {
  cursor: url('/mouse/insta.svg') 0 0, auto;
}

.cursor-mail:hover {
  cursor: url('/mouse/mail.svg') 0 0, auto;
}

.cursor-person:hover {
  cursor: url('/mouse/person.svg') 0 0, auto;
}

.cursor-brand:hover {
  cursor: url('/mouse/brand.svg') 0 0, auto;
}

.cursor-graph:hover {
  cursor: url('/mouse/graph.svg') 0 0, auto;
}



>>>>>>> 9540175fe24a2496e846ef9ae37172abc5076cf4
